:root {
  --base-color-neutral--black: #000;
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --text-secondary: #252929;
  --background-color--background-secondary: var(--base-color-brand--blue);
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --transparent: rgba(0, 0, 0, 0);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
  --base-color-brand--blue-light: #d9e5ff;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink-light: #ffaefe;
  --base-color-brand--pink: #dd23bb;
  --base-color-brand--pink-dark: #3c043b;
  --base-color-neutral--white: #fff;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  color: var(--base-color-neutral--black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Spoofjuiceplus, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-top.margin-medium {
  margin-top: 1.5rem;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(45, 64, 234, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-family: Acuminprowide, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 69px;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-global.padding-section-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-global.padding-section-small {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  color: #252929;
  font-size: .75rem;
  line-height: 1.5;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: rgba(45, 64, 234, .05);
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-family: DM Sans, sans-serif;
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.text-size-small.text-color-secondary {
  color: var(--text-secondary);
  font-family: DM Sans, sans-serif;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: rgba(0, 0, 0, 0);
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input::placeholder {
  color: var(--text-color--text-secondary);
}

.form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, rgba(221, 35, 187, .25), rgba(0, 0, 0, 0) 40%), radial-gradient(circle at 0 100%, rgba(45, 98, 255, .3), rgba(0, 0, 0, 0) 60%);
}

.heading-style-h2 {
  color: #252929;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 60px;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  text-align: center;
  border-radius: .25rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: rgba(0, 0, 0, 0);
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--transparent);
  color: var(--base-color-neutral--black);
  border: 2px solid #000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-family: Acuminprowide, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  color: var(--base-color-neutral--black);
  font-family: Acuminprowide, sans-serif;
  font-size: 1.125rem;
}

.text-size-medium.text-color-secondary {
  color: #252929;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 73.125rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: rgba(45, 64, 234, .1);
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  background-color: #c4deb1;
  border-radius: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  max-width: 70rem;
  padding: 40px 60px;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  color: var(--text-color--text-primary);
  font-size: 4rem;
}

.section_hero {
  background-color: var(--transparent);
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.button-2 {
  border: 1px solid var(--\<unknown\|relume-variable-color-neutral-1\>);
  background-color: var(--\<unknown\|relume-variable-color-neutral-1\>);
  color: var(--\<unknown\|relume-variable-color-neutral-2\>);
  text-align: center;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button-2.is-navbar3-button {
  margin-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.dropdown-chevron {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.navbar3_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
  width: 100%;
  max-width: 1360px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navbar3_menu-button {
  padding: 0;
}

.navbar3_dropdown-toggle {
  grid-column-gap: 2px;
  color: var(--\<unknown\|relume-variable-link-color-1\>);
  align-items: center;
  padding: .5rem 0;
  display: flex;
}

.navbar3_menu {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: center;
  margin-left: -1rem;
  display: flex;
  position: static;
}

.navbar3_logo-link-menu {
  padding-left: 0;
  display: none;
}

.navbar3_menu-dropdown {
  margin-left: 0;
  margin-right: 0;
  font-family: DM Sans, sans-serif;
}

.navbar3_dropdown-list.w--open {
  border: 1px solid var(--\<unknown\|relume-variable-border-color-1\>);
  background-color: #fff;
  border-radius: 12px;
  padding: 8px;
  position: absolute;
}

.navbar3_dropdown-link {
  color: var(--base-color-neutral--black);
  padding: .5rem 1rem;
}

.navbar3_dropdown-link.w--current {
  color: var(--\<unknown\|relume-variable-color-neutral-1\>);
}

.navbar3_logo-link {
  padding-left: 0;
}

.navbar3_menu-background {
  display: none;
  position: static;
}

.navbar3_link {
  color: var(--\<unknown\|relume-variable-link-color-1\>);
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 0;
  font-family: DM Sans, sans-serif;
}

.navbar3_link.w--current {
  color: var(--\<unknown\|relume-variable-color-neutral-1\>);
}

.navbar3_component {
  background-color: #fafaf7;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
}

.navbar3_tablet-menu-button {
  border: 1px solid var(--\<unknown\|relume-variable-border-color-1\>);
  color: var(--\<unknown\|relume-variable-color-neutral-2\>);
  background-color: #000;
  margin-left: 1rem;
  padding: .5rem 1.5rem;
  display: none;
}

.text-block {
  position: static;
}

.section_loop {
  overflow: hidden;
}

.marquee-wrapper {
  color: #dfdfdf;
  background-color: #c99be0;
  width: 100vw;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  overflow: hidden;
}

.marquee-container {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.marquee-content-contaier {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.marquee-icon {
  width: 2.5vw;
}

.marquee-text {
  color: #fff;
  white-space: nowrap;
  font-size: 1.25rem;
  line-height: 1.5em;
}

.body {
  font-family: Acuminprowide, sans-serif;
}

.section_wellness-partner {
  background-color: #f7f7f1;
}

.container-huge {
  width: 100%;
  max-width: 1360px;
}

.welness_grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.welness_content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  max-width: 690px;
  display: grid;
  position: relative;
}

.button-primary {
  color: var(--text-color--text-alternate);
  text-align: center;
  background-color: #eb0045;
  border-radius: 20px;
  padding: .75rem 1.5rem;
  font-weight: 400;
}

.button-primary.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button-primary.is-small {
  padding: .5rem 1.25rem;
}

.button-primary.is-large {
  padding: 1rem 2rem;
}

.button-primary.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: rgba(0, 0, 0, 0);
}

.button-primary.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button-primary.is-brand {
  color: var(--base-color-neutral--black);
  background-color: #eb0045;
  border: 2px solid #000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-family: Acuminprowide, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.social-flex {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: stretch;
  display: flex;
}

.buttons-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section_bestsellers {
  background-color: #fafaf7;
}

.vendor-name {
  color: #252929;
  font-size: .875rem;
}

.product-name, .price-text {
  color: #252929;
  font-family: Acuminprowide, sans-serif;
  font-size: 1.125rem;
}

.div-block {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 4px 8px;
  display: flex;
}

.div-block-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.product-description-grid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  padding: 12px 15px;
  display: flex;
}

.products-grid {
  justify-content: space-between;
  display: flex;
}

.product {
  text-decoration: none;
}

.bestseller-flex {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  display: flex;
}

.margin-top-20 {
  justify-content: center;
  align-items: stretch;
  padding-top: 20px;
  display: flex;
}

.section_team {
  background-color: #fafaf7;
  padding-top: 60px;
  padding-bottom: 60px;
}

.div-block-3 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 32px;
  padding-right: 54px;
  display: flex;
}

.div-block-4 {
  border: 1px solid #d6d6d5;
  border-radius: 30px;
  align-items: center;
  display: flex;
}

.image {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.section_catogories {
  background-color: #fafaf7;
}

.footer {
  background-color: #fafafa;
}

.footer-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-link {
  color: #252929;
  font-family: DM Sans, sans-serif;
  text-decoration: none;
}

.footer-link-flex {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.footer-block {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.divider-line {
  border: 1px solid #d6d6d5;
  width: 97.9%;
  max-width: 1410px;
  height: 1px;
  margin: 60px auto 12px;
}

.div-block-5 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.div-block-6 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  align-items: center;
  padding-bottom: 40px;
  display: flex;
}

.section_testimonials {
  background-color: #fafaf7;
}

.testimonial-card {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  align-items: center;
  display: flex;
}

.testimonial-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.customer-name {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
}

.cusomer-text {
  font-family: DM Sans, sans-serif;
}

.div-block-7 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  display: flex;
}

.customer-comment {
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

.testimonial-cards {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
  flex-flow: column;
  align-items: center;
  padding: 52px;
  display: flex;
}

.testimonial-flex {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  display: flex;
}

.button-align-center {
  justify-content: center;
  align-items: stretch;
  padding-top: 0;
  display: flex;
}

.image-2 {
  z-index: -1;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-3 {
  width: 100%;
  min-height: 100%;
}

.account-link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--base-color-neutral--black);
  justify-content: flex-start;
  align-items: flex-end;
  font-family: DM Sans, sans-serif;
  text-decoration: none;
  display: flex;
}

.div-block-8 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-end;
  display: flex;
}

.header {
  background-color: #000;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
}

.header-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-9 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-block-4 {
  color: #fff;
}

.image-180 {
  transform-style: preserve-3d;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.header-dropdown {
  z-index: 4;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  font-family: DM Sans, sans-serif;
}

.div-block-10 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.header_dropdown-toggle {
  grid-column-gap: 2px;
  color: var(--\<unknown\|relume-variable-link-color-1\>);
  align-items: center;
  padding: .5rem 0;
  display: flex;
}

.header_dropdown-list {
  z-index: 6;
}

.header_dropdown-list.w--open {
  border: 1px solid var(--\<unknown\|relume-variable-border-color-1\>);
  background-color: #fff;
  border-radius: 12px;
  padding: 8px;
  position: absolute;
}

.link {
  color: #8f4899;
  font-family: DM Sans, sans-serif;
}

.div-block-11 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-start;
  display: flex;
}

.div-block-12 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-block-13 {
  background-color: #fafaf7;
  border-top: 1px solid #cfd2d2;
  border-bottom: 1px solid #cfd2d2;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .hero_content {
    width: 75%;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .dropdown-chevron {
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .navbar3_container {
    grid-auto-columns: 1fr;
    display: grid;
  }

  .navbar3_menu-button {
    margin-left: -.5rem;
    padding: 0;
  }

  .navbar3_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-icon3_line-middle {
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar3_dropdown-toggle {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: .75rem 2rem .75rem 0;
    position: relative;
  }

  .menu-icon3_line-bottom {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar3_menu {
    z-index: 1;
    background-color: var(--\<unknown\|relume-variable-background-color-1\>);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    border-right: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 100dvh;
    margin-left: 0;
    padding-bottom: 6.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    transition: height .5s;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
    overflow: auto;
  }

  .navbar3_logo-link-menu {
    float: none;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    position: static;
  }

  .menu-icon3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar3_menu-dropdown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    display: block;
    position: relative;
  }

  .navbar3_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar3_dropdown-list.w--open {
    border-style: none;
    padding: 0;
    position: static;
  }

  .navbar3_dropdown-link {
    padding: .75rem 0 .75rem 5%;
  }

  .navbar3_menu-background {
    z-index: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    padding-bottom: 0;
    padding-right: 0;
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .navbar3_link {
    padding: .75rem 0;
    font-size: 1.125rem;
    position: static;
  }

  .menu-icon3_line-top {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar3_tablet-menu-button {
    width: 100%;
    margin-top: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .marquee-icon {
    width: auto;
  }

  .welness_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-flow: column;
    grid-template-columns: 1fr;
  }

  .products-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .div-block-3 {
    padding-bottom: 32px;
    padding-right: 32px;
  }

  .div-block-4 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column-reverse;
  }

  .image {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
  }

  .divider-line {
    margin-top: 20px;
  }

  .testimonial-grid, .header-grid {
    grid-template-columns: 1fr 1fr;
  }

  .header-dropdown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    display: block;
    position: relative;
  }

  .header_dropdown-toggle {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: .75rem 2rem .75rem 0;
    position: relative;
  }

  .header_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .header_dropdown-list.w--open {
    border-style: none;
    padding: 0;
    position: static;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .button-2.is-navbar3-button {
    padding: .25rem 1rem;
  }

  .navbar3_menu {
    width: 90vw;
    padding-bottom: 5rem;
  }

  .navbar3_component {
    min-height: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top.margin-medium {
    margin-top: .5rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1 {
    font-size: 1.5rem;
    line-height: 36px;
  }

  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-global.padding-section-large {
    padding: 2.5rem 1rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h2 {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .hero_content {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    width: auto;
    padding: 1.5rem 1rem;
  }

  .hero_heading {
    font-size: 2.5rem;
  }

  .section_hero {
    min-height: 60svh;
  }

  .navbar3_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
  }

  .navbar3_component {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .marquee-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .marquee-icon {
    width: auto;
  }

  .welness_grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .products-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .products-grid._1-4 {
    grid-template-columns: 1fr;
  }

  .section_team {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .div-block-3 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .div-block-4 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .divider-line {
    margin-top: 0;
  }

  .div-block-5 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .div-block-6 {
    padding-bottom: 20px;
  }

  .testimonial-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .customer-comment {
    font-size: 1.125rem;
  }

  .testimonial-cards {
    padding: 1.5rem 1rem;
  }

  .testimonial-flex {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .image-2 {
    box-sizing: border-box;
    object-fit: fill;
    width: auto;
  }

  .header-grid {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-items: center;
  }

  .div-block-10 {
    justify-content: center;
  }

  .header_dropdown-toggle {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-right: 0;
  }

  .div-block-13 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

#w-node-_8c101209-5f13-a83c-8b1c-41686e3caf89-45d5bcb8 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_81adcfcb-8782-82d8-bd40-b7ccd08c0177-45d5bcb8 {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
}

#w-node-_2e92bd48-9a2c-c414-d7cf-8e00f4c56fdf-45d5bcb8 {
  grid-area: 2 / 3 / 3 / 5;
  justify-self: center;
}

#w-node-aab6e9ac-0e61-a719-536a-692968d1884d-45d5bcb8 {
  grid-area: 1 / 3 / 2 / 5;
  justify-self: center;
}

#w-node-_7df7b38f-7c09-fbf8-fd73-283bf6bcc0df-45d5bcb8 {
  grid-area: 1 / 5 / 2 / 7;
}

#w-node-_2e92bd48-9a2c-c414-d7cf-8e00f4c56ff6-45d5bcb8 {
  grid-area: 1 / 5 / 2 / 7;
  justify-self: end;
}

#w-node-_2e92bd48-9a2c-c414-d7cf-8e00f4c56ff8-45d5bcb8 {
  grid-area: 5 / 1 / 7 / 2;
}

#w-node-f63cbc6a-01b0-c56e-95d4-065080c06eda-45d5bcb8, #w-node-_5f5b0ca3-7cbb-6418-36a3-bdbdc7164572-45d5bcb8, #w-node-b224ec27-30fa-be84-48bf-7ed471542af3-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-45d5bcbb {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-45d5bcbb, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-45d5bcbb {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-45d5bcbb {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-45d5bcbb {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-45d5bcbb {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-45d5bcbb, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-45d5bcbb {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-45d5bcbb {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-45d5bcbb, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-45d5bcbb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-45d5bcbb {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_8c101209-5f13-a83c-8b1c-41686e3caf89-45d5bcb8, #w-node-_81adcfcb-8782-82d8-bd40-b7ccd08c0177-45d5bcb8 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_81adcfcb-8782-82d8-bd40-b7ccd08c0177-45d5bcb8 {
    justify-self: center;
  }

  #w-node-aab6e9ac-0e61-a719-536a-692968d1884d-45d5bcb8 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }
}


@font-face {
  font-family: 'Spoofjuiceplus';
  src: url('../fonts/SpoofJuiceplus--Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spoofjuiceplus';
  src: url('../fonts/SpoofJuiceplus--Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spoofjuiceplus';
  src: url('../fonts/SpoofJuiceplus--Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spoofjuiceplus';
  src: url('../fonts/SpoofJuiceplus--Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acuminprowide 1';
  src: url('../fonts/acuminprowide-extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acuminprowide';
  src: url('../fonts/acuminprowide-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acuminprowide';
  src: url('../fonts/acuminprowide-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acuminprowide';
  src: url('../fonts/acuminprowide-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Acuminprowide';
  src: url('../fonts/acuminprowide-extralightitalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}